@mixin max-width {
    width: 100%;
    max-width: 1400px;
}

.tituloTalleres {
    display: flex;
    flex-direction: column;
    @include max-width;
}

.fondoTalleres {
    background-color: $bg-secundario;
    padding: 25px;
}